@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
}

.lk-grid-layout {
    padding: 0px;
}

@layer components {

    .text-ellipsis-custom {
        @apply whitespace-nowrap overflow-hidden text-ellipsis;
    }

    .text-ellipsis-95 {
        @apply max-w-[95%] whitespace-nowrap overflow-hidden text-ellipsis;
    }

    audio::-webkit-media-controls-play-button,
    audio::-webkit-media-controls-panel {
        @apply bg-default-100;
    }

    /* Hide scrollbar  */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

}

/* Removes the time stamp from audio player */
audio::-webkit-media-controls-current-time-display {
    display: none;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

input,
select {
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.ellipsis-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    letter-spacing: 0px;
    line-height: 16px;
}

.hero-bg-dark {
    background-image: linear-gradient(to right, black 50%, transparent 100%), url(/hero_2.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-bg-light {
    background-image: linear-gradient(to right, white 50%, transparent 100%), url(/hero_2.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
